html,
body {
  font-family: '微软雅黑';
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.bg__main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__nav {
  height: 60px;
  width: 100%;
}

.brand {
  display: block;
  height: 60px;
  width: 50px;
  background-image: url(/img/brand/logo.png);
  background-position: center center;
  background-size: auto 35px;
  background-repeat: no-repeat;
  margin-right: 30px;
  text-decoration: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
  float: left;
  height: 60px;
  margin: 0 5px;
}

.menu__item.menu__item--selected {
  border-top: 2px solid #333;
}

.menu__item__link {
  height: 60px;
  line-height: 60px;
  min-width: 80px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in;
  color: #ababab;
  text-decoration: none;
}

.menu__item__link:hover {
  color: #ffffff;
}

.container {
  position: fixed;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 60px;
  background-color: transparent;
}

.container__warp {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 1280px;
  top: 30px;
  left: calc(50% - 640px);
  right: calc(50% - 640px);
  bottom: 30px;
  border-radius: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
}